@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Dela+Gothic+One&display=swap');

body {
  margin: 0;
  font-family: 'Balsamiq Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Balsamiq Sans',
    sans-serif;
}

.ff_dela {
  font-family: 'Dela Gothic One',
    sans-serif;
}

/* width */
.about::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.about::-webkit-scrollbar-track {
  background: #FFAEAB;
}

/* Handle */
.about::-webkit-scrollbar-thumb {
  background: #DF4741;
}

/* Handle on hover */
/* .about::-webkit-scrollbar-thumb:hover {
  background: #;
} */